.train-details-container {
    padding: 20px;
    text-align: center;
  }
  
  .train-table {
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
  }
  
  .train-table th, .train-table td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .train-table th {
    background-color: #f4f4f4;
  }
  
  .train-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .train-table tr:hover {
    background-color: #f1f1f1;
  }
  